Page {
    background-size: cover;
}
ActionBar {
    background-color:  #323232;
    color: white;
    text-align: center;
}
.action-image {
    height: 40;
    vertical-align: center;
}

.title {
    color: white;
    font-family: 'RobotoCondensed-Light';
    font-size: 20;
    text-align: center;
}

.loading-indicator, .reekoh-logo {
    width: 45%;
    padding: 5;
}

.loading-indicator {
    animation-name: rotate;
    animation-duration: 2;
    animation-iteration-count: infinite
}
@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}